a {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

abbr {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

acronym {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

address {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

applet {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

article {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
    display  : block;
}

aside {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
    display  : block;
}

audio {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

b {
    border     : 0;
    margin     : 0;
    padding    : 0;
    font-size  : 100%;
    font-weight: bold;
}

big {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

blockquote {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

body {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

canvas {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

caption {
    border        : 0;
    margin        : 0;
    padding       : 0;
    font-size     : 100%;
    font-weight   : normal;
    vertical-align: top;
    text-align    : left;
}

center {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

cite {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

code {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

dd {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

del {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

details {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
    display  : block;
}

dfn {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

dialog {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

div {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

dl {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

dt {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

em {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

embed {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

fieldset {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

figcaption {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
    display  : block;
}

figure {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
    display  : block;
}

font {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

footer {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
    display  : block;
}

form {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

h1 {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

h2 {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

h3 {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

h4 {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

h5 {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

h6 {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

header {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
    display  : block;
}

hgroup {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

hr {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

html {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

i {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

iframe {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

img {
    border                : 0;
    margin                : 0;
    padding               : 0;
    font-size             : 100%;
    color                 : transparent;
    font-size             : 0;
    vertical-align        : middle;
    -ms-interpolation-mode: bicubic;
}

ins {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

kbd {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

label {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

legend {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

li {
    border    : 0;
    margin    : 0;
    padding   : 0;
    font-size : 100%;
    display   : list-item;
    list-style: none;
}

mark {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

menu {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
    display  : block;
}

meter {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

nav {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
    display  : block;
}

object {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

ol {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

output {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

p {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

pre {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

progress {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

q {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
    quotes   : none;

    &:before {
        content: "";
        content: none;
    }

    &:after {
        content: "";
        content: none;
    }
}

rp {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

rt {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

ruby {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

s {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

samp {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

section {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
    display  : block;
}

small {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
    font-size: 75%;
}

span {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

strike {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

strong {
    border     : 0;
    margin     : 0;
    padding    : 0;
    font-size  : 100%;
    font-weight: bold;
}

sub {
    border        : 0;
    margin        : 0;
    padding       : 0;
    font-size     : 100%;
    font-size     : 75%;
    line-height   : 0;
    position      : relative;
    vertical-align: baseline;
    bottom        : -0.25em;
}

summary {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

sup {
    border        : 0;
    margin        : 0;
    padding       : 0;
    font-size     : 100%;
    font-size     : 75%;
    line-height   : 0;
    position      : relative;
    vertical-align: baseline;
    top           : -0.5em;
}

table {
    border         : 0;
    margin         : 0;
    padding        : 0;
    font-size      : 100%;
    border-collapse: collapse;
    border-spacing : 0;
}

tbody {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

td {
    border        : 0;
    margin        : 0;
    padding       : 0;
    font-size     : 100%;
    font-weight   : normal;
    vertical-align: top;
    text-align    : left;
}

tfoot {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

th {
    border        : 0;
    margin        : 0;
    padding       : 0;
    font-size     : 100%;
    font-weight   : normal;
    vertical-align: top;
    text-align    : left;
}

thead {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

time {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

tr {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

tt {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

u {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

ul {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

var {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

video {
    border   : 0;
    margin   : 0;
    padding  : 0;
    font-size: 100%;
}

svg {
    overflow: hidden;
}

* {
    padding: 0;
    margin : 0;
    border : 0;
    outline: none;
}

.clear {
    &:after {
        clear  : both;
        display: block;
        zoom   : 1;
        content: "";
    }

    &:before {
        clear  : both;
        display: block;
        zoom   : 1;
        content: "";
    }
}