.wrapper-plug {
	>h2 {
		font-size  : 22px;
		font-family: Roboto, sans-serif;
		font-weight: 400;
		padding    : 5px;
	}

	>p {
		font-size  : 16px;
		font-family: Roboto, sans-serif;
		font-weight: 400;
		padding    : 5px;
	}
}